<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6e7rFCs7u6Ryxf7tVszLhW9WgYO5Tmmc</string>
	<key>GCM_SENDER_ID</key>
	<string>326663640766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nablagreier</string>
	<key>PROJECT_ID</key>
	<string>nabla-3560b</string>
	<key>STORAGE_BUCKET</key>
	<string>nabla-3560b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326663640766:ios:48def7fcc1313f5ada30ef</string>
</dict>
</plist>